<!DOCTYPE html>
  <html>
    <head>
      <title> {{site.name}} - {{ page.title }}</title>
      <link rel="stylesheet" type="text/css" href="/style.css">

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif">
    </head>

    <body>
      <div class="header">
        <div class="container">
          <h1>{{site.name}}</h1>
          <h3>{{site.description}}</h3>
        </div>
      </div>
      <div class="container">
        <!--<h1>{{page.title}}</h1> -->
        {{ content }}
      </div>
      <div class="footer">
        <div class="container">
          <h1>Contents</h1>
          {% for chapter in site.chapters %}
            <p><a href="{{chapter.url}}">{{chapter.title}}</a></p>
          {% endfor %}

          <h1>Download</h1>
          <p><a href="/{{site.bookurl}}.epub">as epub</a></p>
          <p><a href="/{{site.bookurl}}.txt">as txt</a></p>
        </div>
      </div>
    </body>



